{% extends 'maincard/base.html' %}
{% load static %}

{% block title %}
ANTON PLEKHANOV
{% endblock %}


{% block all %}
{% block content%}

    <link rel="stylesheet" type="text/css" href="{% static 'maincard/css/index.css' %}">
    <meta charset="UTF-8">
    <title>ANTON PLEKHANOV</title>

<div class="shapka">
  <div class="pd">Python developer</div>
  <div class="name">Anton Plekhanov</div>
  </div>
  <div class="photo">
  <div class="mainphoto"></div>
  <div class="backimage"></div>
  </div>
  <div class="ms">MY SKILLS</div>
  <div class="skills">
  <div class="p">Python 3</div>
  <div class="d">Django framework</div>
  <div class="drf">DRF</div>
  </div>
  <div class="ss">
  <div class="h">HTML/CSS</div>
  <div class="g">GIT</div>
  <div class="gh">GITHUB</div>
  <div class="f">FIGMA</div>
  <div class="m">MYSQL</div>
  </div>

{% endblock %}
{% endblock %}